.root {
  /* -fx-font-family: "Microsoft Yahei UI"; */
  /* -fx-font-family: "Roboto"; */
  -fx-font-smoothing-type: gray;
}

.normal-text-b {
  -fx-font-size: 14px;
  -fx-padding: 10;
  -fx-text-fill: rgba(0, 0, 0, 0.9);
}

.normal-text-w {
  -fx-font-size: 18px;
  -fx-padding: 10;
  -fx-text-fill: rgba(255, 255, 255, 1);
}

.small-text-b {
  -fx-font-size: 16px;
  -fx-padding: 5;
  -fx-text-fill: rgba(0, 0, 0, 0.9);
}

.small-text-2 {
  -fx-font-size: 16px;
  -fx-padding: 5;
  -fx-text-fill: rgba(255, 255, 255, 1);
}

.popup-menu-text {
  -fx-font-size: 14px;
  -fx-padding: 3;
  -fx-text-fill: rgba(0, 0, 0, 1);
}

.popup-menu-text:hover {
  -fx-font-size: 14px;
  -fx-padding: 3;
  -fx-text-fill: rgb(52, 52, 52);
}

.main-color {
  -fx-fill: #f5f5f5;
}

/***Main window style***/
.jfx-decorator {
  -fx-decorator-color: derive(#2e2a2e, -20%);
}

.jfx-decorator .jfx-decorator-buttons-container {
  -fx-background-color: -fx-decorator-color;
}

.jfx-decorator .resize-border {
  -fx-border-color: -fx-decorator-color;
  -fx-border-width: 0 4 4 4;
}

.jfx-decorator .jfx-decorator-title-container .jfx-decorator-text {
  -fx-fill: WHITE;
  -fx-font-size: 17;
}

.jfx-decorator .jfx-decorator-title-container .jfx-svg-glyph {
  -jfx-size: 15;
  -fx-background-color: WHITE;
}
/*******************/

/***Top toolbar style***/
.toolbar {
  -fx-background-color: #221e21;
  -fx-padding: 10;
}

.toolbar-button {
  -fx-background-radius: 100px;
  -fx-padding: 5;
}

.toolbar-button-img {
  -fx-pref-width: 36px;
  -fx-pref-height: 36px;
}

.path-label {
  -fx-font-size: 18px;
  -fx-padding: 10 10 10 10;
  -fx-text-fill: rgba(255, 255, 255, 1);
}

.search-box {
  -fx-font-size: 18px;
  -fx-padding: 5;
  -fx-text-fill: rgba(255, 255, 255, 1);
}
/*******************/

/***Each image thumbnail has its own padding***/
/**/
.pic-list {
  -fx-padding: 15;
}

/***Folder Information Bar***/

.combo-box {
  -fx-padding: 5px;
}

.normal-button {
  -fx-font-size: 14px;
  -fx-text-fill: rgba(0, 0, 0, 0.9);
  -fx-padding: 8px;
  -fx-margin: 7px;
}

.play-icon {
  -fx-pref-width: 60px;
  -fx-pref-height: 60px;
  -fx-min-width: -fx-pref-width;
  -fx-max-width: -fx-pref-width;
  -fx-min-height: -fx-pref-height;
  -fx-max-height: -fx-pref-height;
  -jfx-button-type: RAISED;
  -fx-background-color: #009688;
  -fx-background-radius: 60px;
}

/*******************************************************************************
*                                                                              *
* JFX List View                                                                *
*                                                                              *
*******************************************************************************/

.jfx-list-cell {
  -fx-background-insets: 0;
  -fx-text-fill: BLACK;
}

.jfx-list-cell:odd,
.jfx-list-cell:even {
  -fx-background-color: WHITE;
}

.jfx-list-cell:filled:hover,
.jfx-list-cell:selected .label {
  -fx-text-fill: black;
}

.jfx-list-cell .jfx-rippler {
  -jfx-rippler-fill: GRAY;
}

.custom-jfx-list-view {
  -fx-background-insets: 0;
  -fx-background-color: TRANSPARENT;
}

.custom-jfx-list-view .sublist-item {
  -fx-border-color: #e0e0e0;
  -fx-border-width: 1 0 1 0;
}

custom-jfx-list-view .sublist-item:hover {
  -fx-background-color: red;
  -fx-border-width: 1 0 1 0;
}

/*******************************************************************************
 *                                                                             *
 * JFX Pop Up                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-popup-overlay-pane {
  -fx-background-color: transparent;
}

.jfx-popup-container {
  -fx-background-color: WHITE;
  -fx-pref-width: 120px;
}

.popup-list-view {
  -fx-pref-width: 120px;
}

/* FX default menu style */
.context-menu {
  -fx-padding: 2;
  -fx-border-width: 0;
  -fx-background-color: rgb(242, 242, 242, 0.96); /*0.87*/
  -fx-pref-width: 120px;
  /*-fx-background-radius:2px;*/
  /* -fx-effect:dropshadow(three-pass-box, #F2F2F2, 1, 0, 0, 0);  */
}

/* The style of the first-level selected menu when
   the menu bar is selected and moved to the second-level menu */
.menu-bar > .container > .menu-button:showing {
  -fx-background-color: #ccccce;
  -fx-border-color: #ccccce;
}

.menu-button {
  -fx-padding: 1 4 1 4;
  -fx-border-width: 1;
  -fx-border-color: #f0f0f0;
}
.menu-button:hover {
  -fx-background-color: #ccccce;
  -fx-border-color: #ccccce;
}
.menu-button > .label,
.menu-item > .label {
  -fx-text-fill: BLACK;
}
.menu-item:focused {
  -fx-background-color: #ccccce;
}
.menu:focused > .right-container > .arrow {
  -fx-background-color: #ccccce;
}

/*******************************************************************************
 *                                                                             *
 * JFX Dialog                                                                  *
 *                                                                             *
 ******************************************************************************/

.jfx-dialog-overlay-pane {
  -fx-background-color: rgba(0, 0, 0, 0.3);
}

.dialog-heading {
  -fx-font-size: 20px;
  -fx-font-smoothing-type: gray;
  -fx-font-weight: BOLD;
}

.dialog-body {
  -fx-font-size: 18px;
  -fx-text-fill: rgba(0, 0, 0, 0.7);
  -fx-prompt-text-fill: #808080;
}

.dialog-text-area {
  -fx-font-size: 18px;
  -jfx-focus-color: #4c9607;
  -jfx-unfocus-color: #4d4d4d;
}

.dialog-confirm-red {
  -fx-text-fill: RED;
  /* -fx-font-weight: BOLD; */
  -fx-font-size: 16px;
  -fx-padding: 0.7em 0.8em;
}

.dialog-confirm {
  -fx-text-fill: #009688;
  /* -fx-font-weight: BOLD; */
  -fx-font-size: 16px;
  -fx-padding: 0.7em 0.8em;
}

.dialog-cancel {
  -fx-text-fill: GRAY;
  -fx-font-size: 16px;
  /* -fx-font-weight: BOLD; */
  -fx-padding: 0.7em 0.8em;
}

.rename-text-field {
  -fx-background-color: transparent;
  -fx-alignment: top-left;
  -fx-min-width: 450;
  -fx-padding: 15px;
  -jfx-focus-color: #009688;
  -jfx-unfocus-color: #4d4d4d;
}

/*******************************************************************************
 *                                                                             *
 * JFX SnackBar                                                                 *
 *                                                                             *
 ******************************************************************************/

.jfx-snackbar-content {
  -fx-background-color: #323232;
}

.jfx-snackbar-toast {
  -fx-text-fill: WHITE;
}
